* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.nav-header {
  background-color: #153e4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
.list {
  list-style: none;
  font-size: 1rem;
}
.list li {
  padding: 0 20px;
  display: inline-block;
  text-transform: capitalize;
  background: none;
}
.list li a {
  transition: all 0.3s ease 0s;
}
.list li a:hover {
  color: goldenrod;
}
.logo img {
  width: 250px;

  margin-left: 0;
}
.social-icons li {
  margin-right: 0;
  display: inline-block;
  padding: 10px;
  color: #fff;
}
.social-icons li a:hover {
  color: goldenrod;
}
.info {
  background-color: #0d242c;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.info ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.info li {
  padding: 0px 20px;
  display: flex;
  color: #fff;
  margin: 0px 10px;
  align-items: center;
}
.info li h6 {
  margin-left: 10px;
}

.sliderImage > div {
  justify-content: center;
  background-size: cover;
  height: 680px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.sliderImage span {
  font-size: 32px;
  text-align: left;
  color: #0d242c;
  margin-left: 40px;
}
.sliderImage.captionButtons {
  width: 200px;
  display: flex;
  /* gap: 20px; */
}
.sliderImage button {
  padding: 20px;
  background-color: #0d242c;
  margin-left: 40px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease 0s;
  border: 1px solid #102d3a;
  border-radius: 5px;
  cursor: pointer;
}
.sliderImage button:hover {
  color: goldenrod;
  cursor: pointer;
}
.ourService {
  background-color: aliceblue;
}
.ourService h1 {
  text-align: center;
  color: #0d242c;
  padding: 40px;
}
.service {
  display: flex;
  gap: 60px;
  width: 300px;
  justify-content: left;
  padding-bottom: 60px;
  margin-left: 90px;
}
.service img {
  border-radius: 9px;
  width: 250px;
}
.one {
  padding: 10px;
  /* border: 2px solid #102d3a; */
}
.one:hover {
  background-image: linear-gradient(#ffffe0, #f1e5ac);
  border-radius: 9px;
  /* filter: grayscale(200%); */
  transition: all 0.1s ease 0s;
  /* border: 1px solid #ffd700; */
  padding: 10px;
}
.one h4 {
  margin: 10px 0px;
  color: #102d3a;
}
.one p {
  text-align: left;
  color: #102d3a;
}
.we-do {
  display: flex;
  flex-direction: column;
  border: 3px solid #ffd700;
  border-radius: 9px;
  width: 400px;
}
.we-do:hover {
  border: 3px solid #0d242c;
}
.we-do h3 {
  width: 250px;
  padding: 20px;
  color: #102d3a;
}
.we-do p {
  padding: 10px 20px;
  letter-spacing: 1px;
  color: #102d3a;
  word-spacing: 2px;
}
.we-do button {
  background-color: aliceblue;
  margin: 20px;
  border-radius: 0.5rem;
  color: #102d3a;
  padding: 0.75rem 1rem;
  text-align: left;
  text-decoration: none #d1d5db solid;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 0;
  font-size: 0.875rem;
  font-weight: 500;
  width: 150px;
}
.we-do button:hover {
  background-color: #f7d960;
}
.experience {
  background-color: #ebe9eb;
  padding: 20px;
}
.experience h1 {
  text-align: center;
  color: #0d242c;
  padding: 40px;
}
.experience-list {
}
.experience-list ul {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 30px;
  color: #0d242c;
  margin-top: 20px;
}
.experience-list ul li {
  padding: 40px;
  border: 3px solid #ffd700;
  border-radius: 9px;
}
.clients {
  padding: 40px;
}
.clients h1 {
  text-align: center;
  color: #0d242c;
  padding: 40px;
}
.clients ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px 0px;
}
.client-image-style {
  width: 120px;
  border: 2px solid #ffd700;
  filter: grayscale(200%);
  border-radius: 5px;
}
.client-image-style:hover {
  filter: none;
  border-radius: 5px;
}
.course-segment {
  background-color: aliceblue;
}
.course-segment h1 {
  padding: 40px;
  text-align: center;
  color: #0d242c;
}
.courses {
  display: flex;
  gap: 60px;
  width: 320px;
  justify-content: left;
  padding-bottom: 60px;
  margin-left: 90px;
}
.courses img {
  border-radius: 9px;
  width: 250px;
}
.courses h4 {
  margin: 10px 0px;
  color: #102d3a;
}
.courses p {
  color: #102d3a;
  text-align: left;
}
.ourCourse {
  padding: 10px;
}
.ourCourse:hover {
  background-image: linear-gradient(#ffffe0, #f1e5ac);
  border-radius: 9px;
}
.align-button {
  text-align: center;
  padding-bottom: 30px;
}
.align-button button {
  background-color: aliceblue;
  margin: 20px;
  border-radius: 0.5rem;
  color: #102d3a;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 0;
  font-size: 0.875rem;
  font-weight: 500;
  width: 200px;
}
.align-button button:hover {
  background-color: #f7d960;
}

.footer {
  background-color: #102d3a;

  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: small;
}
.footer p {
  color: rgb(214, 214, 214);
  text-align: center;
}
.footer-socials li {
  margin-right: 30px;
  display: inline-block;
  color: #fff;
  font-size: large;
}
.footer-socials li a:hover {
  color: goldenrod;
}
