* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.nav-header {
  background-color: #153e4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
.list {
  list-style: none;
  font-size: 1rem;
}
.list li {
  padding: 0 20px;
  display: inline-block;
  text-transform: capitalize;
  background: none;
}
.list li a {
  transition: all 0.3s ease 0s;
}
.list li a:hover {
  color: goldenrod;
}
.logo img {
  width: 250px;

  margin-left: 0;
}
.social-icons li {
  margin-right: 0;
  display: inline-block;
  padding: 10px;
  color: #fff;
}
.social-icons li a:hover {
  color: goldenrod;
}
.info {
  background-color: #0d242c;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.info ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.info li {
  padding: 0px 20px;
  display: flex;
  color: #fff;
  margin: 0px 10px;
  align-items: center;
}
.info li h6 {
  margin-left: 10px;
}
